*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(102, 204, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient( circle 986.6px at 10% 20%,  rgba(251,6,6,0.94) 0%, rgba(3,31,213,1) 82.8%, rgba(248,101,248,1) 87.9%); */
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
}
#box{
    width: 70%;
    height: 70%;
/* background-color: rgb(177, 255, 245); */
background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
    border-radius: 22px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* backdrop-filter: blur(19px); */
   
}
#head{
    padding: 12px;
    position: absolute;
    top: 31%;
    font-weight: 800;
    font-family: "futura";
    font-size: 39px;
}
#joke{
    padding: 12px;
    font-family: "futura";
}
#btn{
    padding: 12px;
    position: absolute;
    top: 60%;
}
#btn button{
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: rgba(0, 255, 255, 0.459);
    font-family: "futura";
 
}
#emojies{
display: flex;
justify-content: space-between;

/* flex-direction: row; */
}
#images{
    position: absolute;
top: 66%;
left: 70%;
}
#images img{


    width: 50px;
    height: 50px;
}
#emojie{
    display: flex;
    justify-content: space-between;
    
    /* flex-direction: row; */
    }
    #image{
        position: absolute;
    top: 66%;
    left: 70%;
    /* background-color: antiquewhite; */
    }
    #image img{
    z-index: 2;
    
        width: 50px;
        height: 50px;
    }
    #score{
        width: 200px;
        height: 200px;
        background-color:red;
    }
    p{
        display: flex;
    }
    #book{
        width: 30px;
        height: 30px;
        background-color: antiquewhite;
        /* background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% ); */
        border-radius: 50%;

    position: absolute;
    top: 67%;
    left: 69%;
    z-index: 5;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-family: "futura";
    }
  